{{ define "main" }}

<h1>About Me</h1>

<p>
    {{ .Site.Params.aboutme.text }} <a href="aboutme/">(more)</a>
</p>

<h1>Contact Information</h1>
<div class="contact-info">
    {{ range $key, $value := .Site.Params.contact }}
        <p>{{ $key | title }}: 
            {{ if eq $key "email" }}
                <a href="mailto:{{ $value }}">{{ $value }}</a>
            {{ else }}
                <a href="{{ $value }}" target="_blank">{{ $key | title }} Profile</a>
            {{ end }}
        </p>
    {{ end }}
</div>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Recent or Selected Papers</h1>
<div class="papers-list">
    {{ with .Site.GetPage "/papers" }}
        {{ $all_papers := where .Data.Pages "Kind" "page" }}
        {{ $sorted_papers := sort $all_papers "Weight" }}
        {{ $selected_papers := first 5 $sorted_papers }}
        {{ range $selected_papers }}
            <div class="paper">
                    <div class="date">
                        {{ if gt .Date.Unix now.Unix }}
                            (Forthcoming)
                        {{ else }}
                            {{ .Date.Format "Jan. 2, 2006" }}
                        {{ end }}
                    </div>
                    <h2 style="margin-bottom: auto;">
                        {{ if .Params.link }}
                            <a href="{{ .Params.link }}" title="{{ .Title }}" target="_blank">{{ .Title }}</a>
                        {{ else }}
                            {{ .Title }}
                        {{ end }}
                    </h2>
                    <div class="authors">
                        {{ $your_name := .Params.your_name }}
                        {{ range $index, $author := .Params.authors }}
                            {{- if ne $index 0 }}, {{ end -}}
                            {{- if eq $author $your_name -}}
                                <strong>{{ $author }}</strong>
                            {{- else -}}
                                {{ $author }}
                            {{- end -}}
                        {{ end }}
                    </div>
                    <div class="venue">{{ .Params.venue }}</div>
                </p>
            </div>
        {{ end }}
        {{ if gt (len $all_papers) 5 }}
            <p><a href="/papers">View all papers</a></p>
        {{ end }}
    {{ end }}
    </div>

{{ end }}